body {
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
  padding-top: 70px;
  margin: 0;
}

.navbar-brand h1 {
	font-size: 1.5em;
	margin-top: 0;
  	margin-bottom: 0;
}


#content-title {
	margin-bottom: 30px;
}

#main-content .section-content {
	background-color: #CDC8B1;
	padding: 10px;
	margin-bottom: 10px;
}

#main-content .section-title {
	margin-top: 5px;
}

.nav-items {
	text-align: center;
}